<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TO DO List</title>
    <script src="JS/ng/angular/angular-2.1.0/Angular.min.js"></script>
    <link rel="stylesheet" href="JS/BS/BootStrap/bootstrap-4.0.0-beta/bootstrap-4.0.0-beta/dist/css/bootstrap.css">
    <link rel="stylesheet" href="JS/BS/BootStrap/bootstrap-4.0.0-beta/bootstrap-4.0.0-beta/dist/css/bootstrap-theme.css">
    <script src="JS/BS/BootStrap/bootstrap-4.0.0-beta/bootstrap-4.0.0-beta/dist/js/bootstrap.js"></script>
    <script>
        var model={ 
            user:"Adam",
            items:[{action:"buy Flowers",done:false},{action:"Get Shoes",done:false},
                {action:"Collect Tickets",done:true},{action:"C all Joe",done:false}]
        };
        var todoApp=angular.module("todoApp",[]);
        todoApp.controller("ToDoCtrl",function ($scope) {
            $scope.todo=model;
        });
    </script>
</head>
<body ng-app="todoApp" ng-controller="ToDoCtrl">
<div class="page-header">
    <h1>
        {{todo.user}}'s To Do List
        <span class="label">{{todo.items.length}}</span>
    </h1>
</div>
<div class="panel">
<div class="input-group">
    <input class="form-control" />
    <span  class="input-group-btn">
        <button class="btn btn-default">Add</button>
    </span>
</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>Done</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="1>=1" ng-repeat="item in todo.items">
            <td>{{item.action}}</td>
            <td>{{item.done}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>